* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .top {
    display: flex;
    justify-content: center;
  }
  .bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .bottom > div {
    border: 2px solid rgb(172, 172, 172);
    width: 45%;
    height: 100px;
    margin-top: 20px;
  }
  .imgDiv {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 23px;
  
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 10px;
  
    
  }
  h4 {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 16px;
    width: 200px;
  }
  p {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    width: 200px;
  
  }
  .price {
    margin-top: 17px;
    margin-left: 130px;
  }
  
  .opsi {
    display: flex;
  }
  
  .opsi:hover {
    background-color: orange;
    border: orange;
    color: white;
  }
  
  button {
    width: 60px;
    height: 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    
   
  }
  .inputs {
    input {
        margin-left: 50px;
    }
  }

  // Table
  form {
    margin-left: 40%;
  }
  table {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    
  }